/* pas de footer */
#IDpagecontent,
#IDsidemenu {
    bottom: 0px;
}
#IDfooter {
    display: none;
}

/* custom usermenu width */

#IDusermenu {
    width: 220px;
}

/* header calendar */

#IDcalendar {
    position: absolute;
    right: 50px;
}

#IDcalendar .datepicker {
    width: 400px;
}

/* login */

#IDdivlogin {
    width: 250px;
}

#IDdivlogin ul img,
#IDlangmenu {
    width: 40px;
}

#IDthememenu {
    cursor: pointer;
    width: 40px;
    height: 26px;
}

#IDdivlogin ul li {
    padding: 0;
}

#IDlangmenu {
    cursor: pointer;
    vertical-align: middle;
}

#IDlangmenu-button,
#IDlangmenu-menu>li>div,
#IDthememenu-button,
#IDthememenu-menu>li>div {
    font-size: 0.8em;
}

#IDdivthememenu ul li {
    width: 40px;
    height: 26px;
}

/* usermenu */

#IDformprofil {
    width: 300px;
}

@media screen and (max-width: 800px) {
    #IDdivlogin {
        width: 250px;
    }
    #IDcalendar .datepicker {
        width: 200px;
    }
    #IDformprofil {
        width: 220px;
    }
}