.ClassCalEventP {
    width: 150px;
    height: auto;
    line-height: 17px;
    border: 1px solid #ccc;
    cursor: move;
    margin: 10px 0 0 0;
    padding: 5px;
    overflow: hidden;
    display: inline-block;
}

.ui-droppable-hover {
    opacity: 0.5;    
}

.fc-resource-area {
    width: 9%;
}



