.CLDate {
    display: inline-block;
    background-color: #ffffc0;
    color: %TextColor%;
    padding: 2px 4px;
    margin: 0 2px;
}

.CLTime {
    display: inline-block;
    background-color: #bbb;
    color: white;
    padding: 2px 4px;
    margin: 0 2px;    
}

.CLUser {
    display: inline-block;
    background-color: yellow;
    color: black;
    padding: 2px 4px;
    margin: 0 2px;    
}

.CLSize {
    display: inline-block;
    background-color: red;
    color: black;
    padding: 2px 4px;
    margin: 0 2px;    
}