#IDportalloader {
    position: absolute;
    z-index: 100000;
    background: url('CYJS/css/images/cyjsloader.gif') 50% 50% no-repeat;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    cursor: wait;
    opacity: 0.5;
    background-color: #c5c5c5;
}