.ClassCalEvent {
    width: auto;
    height: auto;
    line-height: 17px;
    border: 1px solid #ccc;
    cursor: move;
    margin: 10px 0 0 0;
    padding: 5px;
    overflow: hidden;
}

.ui-droppable-hover {
    opacity: 0.5;    
}

.ClassCalResource {
    width: auto;
    height: auto;
    line-height: 30px;
    cursor: move;
    margin: 0;
    text-align: left;
}

.ClassCalResource img {
    width: 50px;
    height: 50px;
    border: 4px solid %BorderColor%;
    border-radius: 30px;
    padding: 2px;
}
