sidemenu {
    background-image: url(images/%SideMenuPicture%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    background-blend-mode: initial;
}

.iframefullsize {
    padding: 0 !important;
}