@font-face {
    font-family: 'MavenPro';
    font-style: normal;
    src: url('CYJS/css/fonts/MavenPro.ttf') format('truetype');
}

@font-face {
    font-family: 'MavenPro Medium';
    font-style: normal;
    src: url('CYJS/css/fonts/MavenPro_Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'MavenPro Bold';
    font-style: normal;
    src: url('CYJS/css/fonts/MavenPro_Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'MavenPro Black';
    font-style: normal;
    src: url('CYJS/css/fonts/MavenPro_Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Varela Round';
    font-style: normal;
    src: url('CYJS/css/fonts/VarelaRound.woff') format('truetype');
}

html,
body,
page {
    font-family: '%Font%';
    font-size: 15px;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    text-align: center;
    color: %TextColor%;
    cursor: default;
    display: block;
}

form,
a,
td,
th,
input,
textarea,
select,
header,
nav,
sidemenu,
usermenu,
main,
footer,
label {
    font-family: '%Font%';
    font-size: 1em;
    margin: 0;
    padding: 0;
    text-align: center;
    color: %TextColor%;
}

body {
    background-size: cover;
    background-image: url(images/background.jpg);
    background-position: center bottom;
}

header,
footer {
    background-color: %BackgroundColor%;
    color: %ReverseTextColor%;
}

header a,
footer a {
    font-size: 1em;
    vertical-align: initial;
    color: %ReverseTextColor%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border: 0px solid %BorderColor%;
    height: 50px;
    line-height: 2.5em;
    font-size: 1.3em;
    z-index: 1000000;
    text-align: left;
}

div {
    font-family: '%Font%';
    margin: 0;
    padding: 0;
    text-align: center;
}

nav,
li {
    text-align: left;
}

sidemenu {
    position: fixed;
    border-right: 1px solid %BorderColor%;
    background-color: %ButtonBackgroundColor%;
    z-index: 1000000;
    overflow-x: hidden;
    overflow-y: auto;
}

usermenu {
    position: fixed;
    height: auto;
    border-left: 1px solid %BorderColor%;
    border-bottom: 1px solid %BorderColor%;
    background-color: %ButtonBackgroundColor%;
    z-index: 1000000;
}

page-content {
    position: absolute;
    top: 50px;
    bottom: 40px;
    left: 0;
    right: 0;
    overflow: auto;
}

main {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border: 0px solid %BorderColor%;
}

footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    border: 0px solid %BorderColor%;
    margin: 0;
    height: 40px;
    line-height: 40px;
    font-size: 1.2em;
    padding: 0;
    z-index: 1000000;
}

i {
    padding: 0 0.3em 0.3em 0.3em;
    vertical-align: middle;
}

button i {
    padding: 0 0.4em 0.1em 0.4em;
    font-size: 1em !important;
    vertical-align: middle;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

label,
legend {
    display: block;
    text-align: left;
    font-size: 0.7em;
    padding-bottom: 1px;
    vertical-align: initial;
    background-color: %BackgroundColorAlt%;
}

input {
    text-align: left;
    border: 0;
    padding: 0;
    width: 100%;
    background-color: %InputBackgroundColor%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

textarea {
    text-align: left;
    border: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    resize: none;
    white-space: pre-wrap;
}

select {
    text-align: left;
    border: 1px solid %BorderColor%;
    padding: 7px 12px;
}

input[readonly],
textarea[readonly] {
    opacity: 0.5;
}

td {
    text-align: left;
    padding: 0.2em;
}

p {
    text-align: justify;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2em;
    line-height: 2em;
}

h2 {
    font-size: 1.7em;
    line-height: 1.7em;
}

h3 {
    font-size: 1.4em;
    line-height: 1.4em;
}

h4 {
    font-size: 1.1em;
    line-height: 1.1em;
}

.fa {
    font-size: 1.4em;
}

fieldset {
    display: inline;
    border: 1px solid %BorderColor%;
    margin: 0;
    padding: 0.2em;
}


/* CYJS */
.ClassDivDebugHover {
    border: 3px dashed red !important;
    cursor: help;
    z-index: 1000;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.ClassDivDebug .ClassAlert {
    overflow: hidden;
}

.ClassDivDebug .ClassAlert>div {
    overflow-y: scroll;
}

.ClassDivDebug .ClassAlert>div div:nth-child(1) {
    position: absolute;
    right: 40px;
}

.ClassDivDebug .ClassAlert>div div:nth-child(1)>button {
    position: relative;
    float: right;
    cursor: pointer;
    margin: 0 3px 0 0;
}

.ClassDivDebug .ClassAlert>div div:nth-child(2) {
    font-size: 0.6em;
    line-height: 1.2em;
    text-align: left;
    margin: 0px 0px -5px 0px;
    overflow-y: hidden;
}

.ClassDivDebug .ClassAlert>div div:nth-child(2)>pre {
    white-space: pre-wrap;
}

.ClassDivDebug .ClassAlert button {
    width: 25px;
    height: 25px;
}

.ClassDivDebug .ClassAlert button i {
    font-size: 0.8em !important;
    padding: 0 0 0.3em 0;
}

#IDloader {
    position: fixed;
    background: url('CYJS/css/images/cyjsloader.gif') 50% 50% no-repeat;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    cursor: none;
    opacity: 1 !important;
    background-color: #c5c5c5;
    display: none;
}

#IDscrolltop {
    position: fixed;
    bottom: 80px;
    right: 20px;
    padding: 9px 12px 0px 4px;
    width: 30px;
    height: 30px;
}

#IDmenuslider {
    width: 5px;
    height: 100%;
    background-color: %BackgroundColorAlt%;
    border-left: 1px solid %BorderColor%;
    position: absolute;
    top: 0;
    right: 0;
    cursor: col-resize;
}

#IDmenuslider:hover {
    background-color: %BorderColor%;
}

#IDmenuslider i {
    color: #ccc;
    top: 50%;
    position: absolute;
    left: 1px;
    padding: 0;
}

#IDheader i {
    line-height: 1.4em;
    margin-top: 0.2em;
}

#IDheadericonmenu {
    margin-left: 0.5em;
    margin-right: 0.2em;
}

#IDheaderusername {
    color: %ReverseTextColor%;
    padding: 0 0.5em;
}

#IDheaderflag,
#IDheadercalendar {
    cursor: pointer;
}

#IDheaderusername,
#IDheadercalendar {
    line-height: 2.5em;
}

#IDheaderflag,
#IDheadercalendar,
#IDheaderusername,
#IDheadericonnetwork {
    float: right;
}

#IDheaderflag>img {
    width: 2.5em;
    vertical-align: middle;
    padding: 0.4em 1em;
}

#IDheaderflag li {
    padding: 0.5em 0;
    line-height: normal;
}

#IDheaderflag li img {
    width: 3em;
    padding: 0.2em 1.2em;
}

#IDheadericonuser {
    cursor: pointer;
    float: right;
    margin-left: 0.2em;
    margin-right: 0.5em;
}

#IDmain {
    padding: 20px;
    left: 200px;
    /* Larg sidemenu defaut */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: auto;
}

.ClassPositionAbsolute {
    position: absolute !important;
}

.ClassPositionRelative {
    position: relative !important;
}

.ClassMenuContent {
    background-color: %ButtonBackgroundColor%;
    border: 0 !important;
}

.ClassMenuContent>li {
    text-align: left;
    height: 3em;
    vertical-align: middle;
    line-height: 2.7em;
    overflow: hidden;
}

.ClassMenuContent>li>div {
    font-size: 1em;
}

.ClassMenuContent>li>div>i {
    width: 1em;
    text-align: center;
}

#IDsidemenu {
    top: 50px;
    left: 0;
    bottom: 40px;
    width: 200px;
    /* Larg sidemenu defaut */
}

#IDusermenu {
    top: 50px;
    right: 0;
    width: 150px;
    /* Larg usermenu defaut */
}

#IDrollmenu {
    font-size: 0.8em;
}

#IDiconrollmenu {
    height: auto;
    position: fixed;
    /* Automatiquement calculé dans rollmenu.js/CYSetRollMenu()
    width:
    top:
    */
    display: flex;
    align-items: center;
    z-index: 1000000 !important;
}

#IDiconrollmenu>div:first-child {
    display: inline-block;
    background-color: %ButtonBackgroundColor%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px solid %BorderColor%;
}

#IDiconrollmenu:hover>div:first-child {
    display: inline-block;
    background-color: %BackgroundColor%;
}

#IDiconrollmenu>div:first-child>i {
    line-height: 45px;
    opacity: 0.5;
    padding: 5px 2px;
    cursor: pointer;
    font-size: 1.2em;
}

#IDiconrollmenu>div:last-child {
    display: inline-block;
    border: 1px solid %BorderColor%;
}

#IDeditedcell {
    font-size: 1em;
    padding: 0;
    margin: 0;
}

.ClassPrompt,
.ClassTitle,
.ClassText {
    text-align: left;
}

.ClassAlignLeft {
    text-align: left;
}

.ClassAlignRight {
    text-align: right;
}

.ClassAlignCenter {
    text-align: center;
}

.ClassAlignJustify {
    text-align: justify;
}

.ClassBorder {
    border: 1px solid %BorderColor%;
}

.ClassNoBorder {
    border: 0px;
}

.ClassMargin {
    margin: 0.2em !important;
}

.ClassNoMargin {
    margin: 0 !important;
}

.ClassPadding {
    padding: 0.2em !important;
}

.ClassNoPadding {
    padding: 0 !important;
}

.ClassFullWidth {
    width: 100% !important;
}

.ClassFullHeight {
    height: 100% !important;
}

.ClassBackground {
    background-color: %BackgroundColor%;
}

.ClassButtonBackground {
    background-color: %ButtonBackgroundColor%;
}

.ClassAlert,
.ClassConfirm {
    font-size: 1.2em;
    word-wrap: break-word;
    line-height: 1.3em;
    text-align: center;
    width: 400px;
    box-sizing: border-box;
}

.ClassAlert i,
.ClassConfirm i {
    font-size: 3em;
    color: %BackgroundColor%;
    padding: 10px;
}

.ClassPrompt {
    font-size: 1em;
    padding-top: 20px;
    word-wrap: break-word;
    box-sizing: border-box;
}

.ClassPrompt label {
    font-size: 0.6em;
}

.ClassPrompt i {
    vertical-align: middle;
    padding: 0 25px 0 0;
}

.ClassPrompt input,
.ClassPrompt textarea {
    font-size: 1em;
}

.ClassForm {
    background-color: %BackgroundColorAlt%;
    width: 100%;
}

.ClassDiv {
    background-color: %BackgroundColorAlt%;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    align-content: space-between;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.ClassRow,
.ClassRowThin {
    width: 100%;
    text-align: left;
    padding: 0 0 1em 0;
    margin: 0;
    display: flex;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.ClassRowThin {
    padding: 0 0 0.2em 0;
}

.ClassTitle {
    width: 100%;
    display: inline-block;
    padding: 10px 0 5px 0;
    font-size: 1.3em;
    word-break: break-all;
}

.ClassCenter,
.ClassCenter * {
    text-align: center !important;
    margin-left: auto;
    margin-right: auto;
}

.ClassCell,
.ClassCellMargin,
.ClassCellMarginX,
.ClassCellMarginY {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: %BackgroundColorAlt%;
    position: relative;
    padding: 0;
    vertical-align: top;
    text-align: left;
    min-width: min-content;
    height: auto;
    min-height: min-content;
}

.ClassCell {
    margin: 0;
}

.ClassCellMargin {
    margin: 0.2em;
}

.ClassCellMarginX {
    margin: 0 0.2em 0 0.2em;
}

.ClassCellMarginX:first-child {
    margin-left: 0;
}

.ClassCellMarginX:last-child {
    margin-right: 0;
}

.ClassCellMarginY {
    margin: 0.2em 0 0.2em 0;
}

.ClassCellMarginY:first-child {
    margin-top: 0;
}

.ClassCellMarginY:last-child {
    margin-bottom: 0;
}

.ClassStatic {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

.ClassEmpty:after {
    content: "\00a0";
}

.ClassPanel {
    height: 40px;
    line-height: 40px;
    font-size: 1.3em;
    color: %ReverseTextColor%;
    background-color: %BackgroundColor%;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.ClassPanelIconsLeft,
.ClassPanelIconsRight {
    color: %ReverseTextColor%;
    position: relative;
    background-color: %BackgroundColor%;
}

.ClassPanelIconsLeft {
    position: absolute;
    top: 0;
    left: 0.3em;
}

.ClassPanelIconsRight {
    position: absolute;
    top: 0;
    right: 0.3em;
}

.ClassPanelIconsLeft i,
.ClassPanelIconsRight i {
    margin: 0;
    font-size: 1em;
    cursor: pointer;
    vertical-align: middle;
    padding: 0 0.1em 0.2em 0.1em;
}

.ClassInput,
.ClassInputThin,
.ClassInputNoBorder {
    border: 1px solid %BorderColor%;
    padding: 0.3em;
    margin: 0;
    text-align: left;
    background-color: %InputBackgroundColor%;
}

.ClassInputThin {
    padding: 0 1em;
}

.ClassInputNoBorder {
    border: 0;
    padding: 0;
    margin: 0;
}

.ClassInput:hover {
    border: 1px solid %BorderColor%;
}

.ClassInputNoBorder:hover {
    border: 0;
}

.ClassInput i {
    padding: 0;
}

.ClassInput input,
.ClassInput textarea {
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.ClassInputActive {
    border: 1px solid %BorderColor%;
    box-shadow: 2px 2px 0.3em %InputShadow%;
}

.ClassInputSingle {
    margin: 0;
}

.ClassInputFirst {
    margin-left: 0;
}

.ClassInputLast {
    margin-right: 0;
}

.ClassInputReadOnly {
    opacity: 0.5;
}

.ClassClearIcon,
.ClassInputIcon {
    position: relative;
}

.ClassClearIcon {
    padding-right: 30px;
}

.ClassInputIcon {
    padding-left: 30px;
}

.ClassClearIconI,
.ClassInputIconI {
    font-size: 1.5em;
    color: %TextColor%;
    opacity: 0.5;
    position: absolute;
    top: 0.1em;
}

.ClassClearIconI {
    cursor: pointer;
    right: 0.2em;
}

.ClassInputIconI {
    left: 0.2em;
}

.ClassToolBar {
    position: relative;
    text-align: left;
    display: inline-flex;
}

.ClassToolBarFixed {
    position: fixed;
}

.ClassUnderToolBarFixed {
    margin-top: 40px;
    float: left;
}

.ClassToolBarFixed button {
    margin: 0px 0px 5px 0px;
}

.ClassDivTable {
    background-color: %ButtonBackgroundColor%;
    min-height: min-content;
    min-width: min-content;
    overflow: auto;
}

.ClassDivTable table {
    width: 100% !important;
    border: 0;
    border-spacing: 0;
    border-collapse: separate;
}

.ClassDivTable thead {
    color: %TableHeaderColor%;
    background-color: %TableHeaderBackgroundColor%;
}

.ClassDivTable th {
    color: %TableHeaderColor%;
    background-color: %TableHeaderBackgroundColor%;
    font-size: 0.9em !important;
    padding: 0.2em 0.6em;
    border-top: 1px solid %BorderColor%;
    border-bottom: 1px solid %BorderColor%;
    border-right: 1px solid %BorderColor%;
}

.ClassDivTableFixedHeader thead tr {
    position: sticky;
    top: 0;
}

.ClassDivTable tbody tr:nth-child(2n) {
    background-color: %AltBackgroundColor%;
}

.ClassDivTable tbody tr:nth-child(2n+1) {
    background-color: #e6e6e6;
}

.ClassDivTable td {
    word-break: break-all;
    overflow-wrap: anywhere;
    border-bottom: 1px solid %BorderColor%;
    border-right: 1px solid %BorderColor%;
}

.ClassDivTable th:first-child,
.ClassDivTable td:first-child {
    border-left: 1px solid %BorderColor%;
}

.ClassDivTable tr:hover {
    background-color: %HoverBackgroundColor% !important;
}

.ClassDivTable tr:hover td {
    color: %HoverTextColor% !important;
}

/* Dropzone */

.ClassDropZone {
    padding: 0px;
    border: 0px;
    min-height: 0;
    margin: 0px;
    width: calc(100% - 10px);
    /* 10px = place pour scrollbar */
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: transparent;
}

.dz-image {
    width: 60px;
    height: 60px;
}

.dz-image>img {
    width: 100%;
    height: 100%;
}

.dz-message {
    margin: 0 !important;
    font-size: 2em;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 10%;
}

.ClassDropZone:hover {
    z-index: 1;
}

.ClassDropZone:hover>.dz-message,
.ClassInputReadOnly {
    opacity: 0.5;
}

.dz-drag-hover,
.ClassDropZone:hover {
    border: 0px dashed %ButtonBackgroundColor% !important;
}

.dropzone.dz-clickable,
.dropzone.dz-clickable .dz-message * {
    cursor: pointer !important;
}

.ClassDropZoneInProgress {
    z-index: 2 !important;
}


/*.dz-preview .dz-file-preview .dz-processing {
    z-index: 100000;
}*/


/* Vue liste en thumbnail */

.ClassThumbnailList {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    font-size: 1em;
    margin: 0 0 50px 0;
    padding: 0;
    z-index: 2;
}

li.ClassThumbnail {
    text-align: center;
    padding: 0;
    font-size: 0.8em;
    cursor: pointer;
    width: 8.5em;
    height: 13em;
    margin: 0.5em 1em;
    position: relative;
}

tr.ClassThumbnail {
    text-align: center;
    padding: 0;
    font-size: 1em;
    cursor: pointer;
    width: auto;
    height: 4em;
    margin: 0.5em 1em;
    position: relative;
}

.ClassThumbnail:hover {
    background-color: %HoverBackgroundColor% !important;
    color: %HoverTextColor% !important;
}

div.ClassThumbnailImage {
    width: 8.5em;
    height: 8.5em;
    position: relative;
}

td.ClassThumbnailImage {
    width: auto;
    height: auto;
    position: relative;
}

div.ClassThumbnailImage img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 8.5em;
    max-height: 8.5em;
    width: auto;
    height: auto;
}

td.ClassThumbnailImage img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    max-width: 3.5em;
    max-height: 3.5em;
    width: auto;
    height: auto;
    padding: 8px 10px;
}

.ClassThumbnailLabel {
    padding: 0.8em 0;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1em;
}

.ClassThumbnailSelected {
    background-color: %HoverBackgroundColor% !important;
}

.ClassThumbnail:hover i {
    color: %BackgroundColor%;
}

div.ClassThumbnailImage i {
    font-size: 8em !important;
    padding: 0;
    color: %BackgroundColor%;
    top: 10%;
    position: relative;
}

td.ClassThumbnailImage i {
    font-size: 3.5em !important;
    padding: 0;
    color: %BackgroundColor%;
    top: 10%;
    position: relative;
}


/*.ClassThumbnail span {
    font-size: 0.9em !important;
}*/


/* Vue liste */

.ClassContextMenu,
.ClassMenu,
.cyMenu {
    color: %TextColor%;
    background: %BackgroundColorAlt%;
    border: 1px solid %BorderColor%;
    list-style: none;
    padding: 0;
    font-family: %Font%;
    font-size: 0.8em;
    cursor: initial;
    margin: 0;
}

.ClassContextMenu {
    position: fixed;
    width: auto;
    box-shadow: 2px 2px 0.3em %InputShadow%;
}

.ClassMenu,
.cyMenu {
    position: fixed !important;
    width: auto;
}

.ClassContextMenu li,
.ClassMenu li,
.cyMenu li {
    text-align: left;
    padding: 5px 30px 5px 10px;
}

.ClassContextMenu li[disabled],
.ClassMenu li[disabled],
.cyMenu li[disabled],
.ClassSelectable li[disabled] {
    opacity: 0.5;
}

.ClassContextMenu li:not([disabled]):hover,
.ClassMenu li:not([disabled]):hover,
.cyMenu li:not([disabled]):hover,
.ClassSelectable li:not([disabled]):hover {
    background-color: %BackgroundColor%;
    color: %ReverseTextColor%;
    cursor: pointer;
}

.ClassContextMenu li:not([disabled]):hover>i,
.ClassMenu li:not([disabled]):hover>i,
.cyMenu li:not([disabled]):hover>i,
.ClassSelectable li:not([disabled]):hover>i {
    color: %ReverseTextColor%;
}

.ClassSelectableButtonsPool {
    cursor: context-menu;
}

.ClassSelectableButtonsPool>i {
    position: absolute;
    right: 0;
    top: 0px;
    color: %TextColor%;
    padding: 0.1em 0.5em;
}

.ClassSelectableButtonsPool>i:hover {
    color: %ReverseTextColor%;
    background-color: %BackgroundColor%;
}

.ClassContextMenu i,
.ClassMenu i,
.cyMenu i {
    font-size: 1.5em !important;
    display: inline-block;
    padding: 0 10px 0 0;
    vertical-align: sub;
    width: 1.5em;
    text-align: center;
}


/* Panel draggable */

.ClassSortPlaceholder {
    border: 2px dashed #c9c9c9;
    background-color: #efefef;
    float: left;
}

.ClassSort>.ClassPanel {
    cursor: move;
}


/* Edition directe datatables */

.ClassTDEditedCell {
    background-color: %BackgroundColorAlt% !important;
    border: 3px solid %BorderColor% !important;
    padding: 5px 10px !important;
}


/* Flipswitch */

.ClassFlipSwitch {
    position: relative;
    display: inline-block;
    width: 0.8em;
    height: 0.44em;
    padding: 0;
    background: none;
    border: 0px;
    box-shadow: none;
    font-size: 3.5em;
    margin: 0;
}

.ClassFlipSwitch input {
    display: none;
}

.ClassFlipSwitch:hover {
    background: none !important;
    border: 0px !important;
}

.ClassFlipSlider,
.ClassFlipSliderDisabled {
    position: absolute;
    content: "0";
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .1s;
    transition: .1s;
}

.ClassFlipSliderDisabled {
    cursor: default;
    background-color: #ccc !important;
}

.ClassFlipSlider:before,
.ClassFlipSliderDisabled:before {
    position: absolute;
    height: 0.36em;
    width: 0.36em;
    left: 0.06em;
    bottom: 0.04em;
    background-color: %BackgroundColorAlt%;
    -webkit-transition: .4s;
    transition: .1s;
}

.ClassFlipSliderDisabled:before {
    background-color: %BackgroundColor%;
}

input:checked+.ClassFlipSlider {
    background-color: %BackgroundColor%;
}

input:checked+.ClassFlipSliderDisabled {
    background-color: %BackgroundColor%;
}

input:focus+.ClassFlipSlider {
    box-shadow: 0 0 1px %BackgroundColor%;
}

input:checked+.ClassFlipSliderDisabled {
    box-shadow: 0 0 1px %BackgroundColor%;
}

input:checked+.ClassFlipSlider:before {
    -webkit-transform: translateX(0.34em);
    -ms-transform: translateX(0.34em);
    transform: translateX(0.34em);
    background-color: %BackgroundColorAlt%;
}

input:checked+.ClassFlipSliderDisabled:before {
    -webkit-transform: translateX(0.34em);
    -ms-transform: translateX(0.34em);
    transform: translateX(0.34em);
    background-color: %BackgroundColor%;
}

.ClassFlipSlider.ClassFlipRound,
.ClassFlipSliderDisabled.ClassFlipRound {
    border-radius: 0.8em;
}

.ClassFlipSlider.ClassFlipRound:before,
.ClassFlipSliderDisabled.ClassFlipRound:before {
    border-radius: 50%;
    content: "";
}

/* Pour afficher des nombres ou textes */

.ClassNumber {
    text-align: right;
}


/* Edition page depuis adminsidemenu */

.ClassIconEditPage {
    float: right;
    top: -40px;
    position: relative;
    opacity: 0.3;
    padding: 0.4em;
}


/* Classe pour un div CYEditor() / trumbowyg */

.ClassEditor {
    font-size: 0.8em !important;
}

.trumbowyg-box {
    border: 0 !important;
}

.trumbowyg-box div {
    text-align: left;
}


/* Pour editeur CYFileEdit() */

.CYFileEdit {
    padding: 0 !important;
    overflow: hidden !important;
}


/* Classe ajoutée à un panel data-move/data-resize/data-magnify */

.ClassWindow {
    display: inline-block;
    float: left;
    box-shadow: 2px 2px 0.3em %InputShadow%;
}

.ClassWindow button {
    z-index: auto !important;
}

.ClassWindow textarea {
    font-family: courier new;
    font-size: 1em;
}

.ClassIconFile {
    position: absolute;
    font-size: 2.5em;
    cursor: move;
    color: %BackgroundColor%;
    line-height: 0.4em;
    width: 100px;
    margin: 0;
    padding: 0;
}

.ClassIconFile:before {
    filter: drop-shadow(0px 0px 6px %InputShadow%);
}

.ClassIconFile span {
    font-size: 0.3em;
    line-height: 1em;
    color: %TextColor%;
    margin-top: 1em;
    display: block;
    word-wrap: break-word;
    font-family: '%Font%';
}

.ClassZoomInOut {
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.ClassZoomInOut:hover {
    cursor: pointer;
    filter: drop-shadow(5px 5px 5px #666666);
    transform: scale(1.4);
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -o-transform: scale(1.4);
    -moz-transform: scale(1.4);
}


/* Calendrier */

.ClassCalendar {
    width: 100%;
    min-width: min-content;
    height: auto;
    min-height: min-content;
}


/* Masonry style */

.ClassMasonry {
    transition: all .5s ease-in-out;
    column-gap: 20px;
    column-fill: initial;
    column-count: auto;
    /* A préciser selon besoin */
    column-width: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
}

.ClassMasonry:after {
    content: '';
    display: block;
    width: 100%;
    height: 20px;
    margin-top: -20px;
}


/* Masonry item */

.ClassMasonryBlock {
    margin-bottom: 0px;
    display: inline-block;
    vertical-align: top;
    border: 0px solid %BorderColor%;
    padding: 5px;
    overflow-wrap: break-word;
    width: 250px;
    position: relative;
}


/* jQuery-ui*/

.ui-widget,
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
    font-family: '%Font%';
}

.ui-widget {}

font-size: 1em;
text-align: left;

}

.ui-widget-content {
    color: %TextColor%;
    border: 1px solid %BorderColor%;
}

.ui-widget.ui-widget-content {
    border: 1px solid %BorderColor%;
}

.ui-widget-content a,
.ui-widget-header a {
    color: %TextColor%;
}

.ui-widget-header {
    color: %TextColor%;
    border: 0px;
    background-color: %ButtonBackgroundColor%;
}

.ui-widget-overlay {
    background: #aaaaaa;
    opacity: 0.5 !important;
    z-index: 1000000 !important;
}

.ui-autocomplete {
    z-index: 1000000;
    background-color: %BackgroundColorAlt%;
    border: 1px solid %BorderColor% !important;
    padding: 0px;
}

.ui-selecting {
    background: %BackgroundColor%;
    color: %ReverseTextColor%;
}

.ui-selected {
    background: %BackgroundColor%;
    color: %ReverseTextColor%;
}

.ui-resizable-handle.ui-resizable-se.ui-icon.ui-icon-gripsmall-diagonal-se {
    width: 12px;
    height: 12px;
}

.ClassSelectable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.ClassSelectable li {
    font-size: 0.8em;
    border: 0;
    padding: 3px 1em 3px .4em;
    cursor: pointer;
}

.ClassSelectableButtonsPool button {
    margin: 0 2px;
    font-size: 0.8em;
    border: 1px solid %BorderColor%;
    width: max-content;
}

/* Limiter hauteur des menus */
.ui-selectmenu-menu .ui-menu,
.ui-autocomplete {
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}

.ClassButton,
.ui-selectmenu-button.ui-button {
    box-shadow: unset;
    padding: 0.3em;
    width: 100%;
    border: 1px solid %BorderColor%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 1em !important;
    cursor: pointer;
}

.ClassButton {
    width: auto;
}

.ui-selectmenu-button:hover>.ui-selectmenu-icon {
    filter: brightness(2);
}

.ui-selectmenu-optgroup {
    font-size: 1em !important;
}

.ui-menu ul {
    position: fixed !important;
}

.ui-menu-item {
    list-style-image: none !important;
}

.ui-menu .ui-menu-item {
    font-size: 1em;
}

.ui-menu-item-wrapper {
    text-align: left;
    font-size: 0.8em;
    padding: 0.4em 0.1em;
}

.ui-menu-item-wrapper .ui-state-active {
    border: 0px;
}

.ui-dialog.ui-widget.ui-widget-content {
    border: 1px solid %BorderColor%;
}

.ui-dialog {
    padding: 0;
    border: 0 !important;
    box-shadow: 2px 2px 0.3em %InputShadow%;
}

.ui-dialog .ui-dialog-title,
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: none;
}

.ui-dialog .ui-dialog-titlebar {
    height: 40px;
    line-height: 0.5em;
    font-size: 1.8em;
    color: %ReverseTextColor%;
    background-color: %BackgroundColor%;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 0;
}

.ui-dialog i {
    vertical-align: middle;
}

.ui-dialog-titlebar-close,
.ui-dialog-titlebar-iconify,
.ui-dialog-titlebar-fullscreen {
    position: absolute;
    display: block;
    padding: 1px;
    box-shadow: unset !important;
    width: 30px !important;
    height: 30px !important;
    top: 0.8em !important;
    margin: -18px -5px 0 0 !important;
    background: %BackgroundColor% !important;
    border: 0px !important;
    z-index: unset !important;
}

.ui-dialog-titlebar-close:hover>span,
.ui-dialog-titlebar-fullscreen:hover>span {
    filter: brightness(2) !important;
}

.ui-dialog-titlebar-fullscreen {
    right: 1.5em !important;
}

.ui-dialog-titlebar i {
    position: absolute;
    top: 7px;
    left: -4px;
    font-size: 0.72em !important;
    color: %ReverseTextColor%;
}

.ui-dialog-titlebar-iconify {
    right: 2.7em !important;
}

.ui-dialog .ui-dialog-content {
    border: 0;
}

.ui-dialog-title {
    color: %ReverseTextColor%;
    font-size: 0.72em;
}

.ui-dialog .ui-dialog-buttonpane {
    margin-top: 0;
    border: 0px solid %BorderColor%;
    text-align: center;
}

.ui-dialog .ui-dialog-buttonpane button {
    margin: 8px 0 3px 15px;
    /*height: 30px !important;*/
}

.ui-dialog-dragging {
    opacity: 0.7;
}

.ui-draggable {
    /*z-index: 2; */
}

.ui-draggable-dragging {
    /*z-index:200000 !important;*/
}

.ui-icon-closethick,
.ui-icon-newwin {
    /*filter: opacity(20%) brightness(1%) !important;*/

    transform: scale(2);
}

.ui-button-icon ui-icon ui-icon-arrowthickstop-1-s:hover {
    /*filter: brightness(2) !important;*/
}

.ui-slider-vertical .ui-slider-handle {
    left: -0.23em;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -.23em;
}

.ui-spinner-button {
    width: 1.6em !important;
}

.ui-spinner-input {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    padding: 1px 0;
}

.ui-spinner-up {
    top: 0;
    left: -1px;
    height: 100%;
    border: 1px solid %BorderColor% !important;
}

.ui-spinner-down {
    top: 0;
    right: 0px;
    height: 100%;
    border: 1px solid %BorderColor% !important;
}

.ui-accordion .ui-accordion-header {
    padding: .3em .3em .3em .5em;
}

.ui-accordion .ui-accordion-content {
    padding: unset;
    border-top: unset;
    overflow: unset;
}

.ui-tabs {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0;
    border: 0;
}

.ui-tabs .ui-tabs-nav {
    padding: 0;
    border: 0;
}

.ui-tabs .ui-tabs-nav li {
    padding: 0;
    margin: 0;
    border-bottom-width: 1px;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
    color: %ReverseTextColor%;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: 0;
    padding-bottom: 0;
}

.ui-tabs .ui-tabs-panel {
    padding: 0;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    color: %TextColor%;
    border: 1px solid %BorderColor%;
    background-color: %ButtonBackgroundColor%;
}

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited,
a.ui-button,
a:link.ui-button,
a:visited.ui-button,
.ui-button {
    color: %TextColor%;
}

.ui-progressbar .ui-progressbar-value {
    background-color: %BackgroundColor%;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ClassButton:hover,
.ui-button:hover,
.ui-button:focus {
    background-color: %BackgroundColor%;
    border: 1px solid %BackgroundColor%;
    color: %ReverseTextColor%;
}

.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited,
a.ui-button:hover,
a.ui-button:focus {
    background-color: %BackgroundColor%;
    color: %ReverseTextColor%;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    background-color: %BackgroundColor%;
    color: %ReverseTextColor%;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    border: 1px solid %BackgroundColor%;
}

.ui-icon-background,
.ui-state-active .ui-icon-background {
    border: %BackgroundColor%;
}

.ui-button {
    border: 1px solid %BorderColor%;
    box-shadow: 2px 2px 0.3em %InputShadow%;
    padding: 0.3em 0.6em;
}

.ui-checkboxradio-label .ui-icon-background {
    box-shadow: 2px 2px 0.3em %InputShadow%;
}

.ui-checkboxradio-radio-label .ui-icon-background {
    width: 0.8em;
    height: 0.8em;
}

.ui-checkboxradio-radio-label.ui-checkboxradio-checked .ui-icon,
.ui-checkboxradio-radio-label.ui-checkboxradio-checked:hover .ui-icon {
    border-width: 1px;
}

/* Permet de voir la croix quand checked */
.ui-checkboxradio-icon.ui-icon-check.ui-state-checked {
    background-blend-mode: difference;
}

.droppable-active {
    background-color: %HoverBackgroundColor% !important;
}

.ui-effects-transfer {
    border: 1px dotted black;
    z-index: 1000000;
    background-color: %AltBackgroundColor%;
    opacity: 0.5;
}

.ui-resizable-handle {
    z-index: 1 !important;
}

/* Tooltip */
.ui-tooltip,
.ClassTooltipArrow:after {
    background: %TooltipBackgroundColor%;
    border: 2px solid %BorderColor%;
}

.ui-tooltip {
    white-space: pre-line;
    padding: 0.3em;
    border-radius: 0;
    font-size: 0.8em;
    box-shadow: 2px 2px 0.3em %InputShadow%;
    z-index: 2000000;
    max-width: 200px;
    cursor: none;
    overflow-wrap: break-word;
    height: auto;
}

/* Le div contenant le texte */
.ui-tooltip-content {
    color: %TooltipTextColor%;
}

.ClassTooltipArrow {
    width: 50px;
    height: 10px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: 0;
    bottom: -10px;
}

.ClassTooltipArrow.top {
    top: -16px;
    bottom: auto;
}

.ClassTooltipArrow.left {
    left: 20%;
}

.ClassTooltipArrow:after {
    content: "";
    position: absolute;
    left: 0;
    top: -25px;
    width: 25px;
    height: 20px;
    box-shadow: 0px 0px 0.05em %InputShadow%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.ClassTooltipArrow.top:after {
    bottom: -20px;
    top: auto;
}

/* Datatable */
.dataTable .sorting {
    cursor: pointer;
}

.ClassDataTable.dataTable {
    border-collapse: collapse;
}

.ClassDataTable.dataTable thead>tr>th.sorting:before,
table.dataTable thead>tr>th.sorting_asc:before,
table.dataTable thead>tr>th.sorting_desc:before,
table.dataTable thead>tr>th.sorting_asc_disabled:before,
table.dataTable thead>tr>th.sorting_desc_disabled:before,
table.dataTable thead>tr>td.sorting:before,
table.dataTable thead>tr>td.sorting_asc:before,
table.dataTable thead>tr>td.sorting_desc:before,
table.dataTable thead>tr>td.sorting_asc_disabled:before,
table.dataTable thead>tr>td.sorting_desc_disabled:before {
    content: "\25B2";
}

.ClassDataTable.dataTable thead>tr>th.sorting:after,
table.dataTable thead>tr>th.sorting_asc:after,
table.dataTable thead>tr>th.sorting_desc:after,
table.dataTable thead>tr>th.sorting_asc_disabled:after,
table.dataTable thead>tr>th.sorting_desc_disabled:after,
table.dataTable thead>tr>td.sorting:after,
table.dataTable thead>tr>td.sorting_asc:after,
table.dataTable thead>tr>td.sorting_desc:after,
table.dataTable thead>tr>td.sorting_asc_disabled:after,
table.dataTable thead>tr>td.sorting_desc_disabled:after {
    content: "\25BC";
}

.ClassDataTable.dataTable thead>tr>th.sorting:before,
.ClassDataTable.dataTable thead>tr>th.sorting:after {
    font-size: 1em;
    line-height: 1em;
    color: white;
    background-color: #404040;
    padding: 0 1px;
}

.ClassDataTable,
.dataTables_scrollHeadInner {
    width: 100% !important;
    border: 1px solid %BorderColor%;
    border-spacing: 1px !important;
    border-collapse: collapse;
}

.ClassDataTable label {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: %TableHeaderBackgroundColor%;
}

.ClassDataTable th {
    font-size: 0.9em !important;
    padding: 0.2em 0.6em;
}

.ClassDataTable td,
.ClassDataTable a {
    font-size: 0.9em !important;
    overflow-wrap: anywhere;
}

.ClassDataTable th input {
    font-size: 1em !important;
}

.ClassDataTableColumns {
    display: inline !important;
    white-space: nowrap;
}

.ClassDataTableColumns a {
    font-size: 0.7em !important;
    cursor: pointer !important;
}

.ClassDataTableAutoSelect {
    font-size: 1em !important;
    width: 100% !important;
}

.ClassDataTable.no-footer {
    border: 0 !important;
}

.dataTable tbody tr:hover>td {
    color: %HoverTextColor%;
    background-color: %HoverBackgroundColor%;
}

.dataTable tr:nth-child(2n) {
    background-color: %AltBackgroundColor%;
}

.dataTable tr:nth-child(2n+1) {
    background-color: #e6e6e6;
}

.dataTable td {
    word-break: break-all;
    font-size: 0.9em;
}

.dataTable thead input {
    padding: 2px 0px 2px 2px !important;
    border: 1px solid %BorderColor%;
    margin: 0;
    width: 100%;
}

.dataTable thead .sorting,
.dataTable thead .sorting_asc,
.dataTable thead .sorting_desc {
    background-position: 95% 17% !important;
}

.dataTable thead th {
    padding: 5px 25px 5px 10px !important;
    font-size: 0.7em !important;
    color: %TableHeaderColor%;
    background-color: %TableHeaderBackgroundColor%;
    border: 1px solid %BorderColor%;
    overflow: hidden;
}

.dataTable tbody tr.selected>td,
.dataTable tbody tr.selected>td>a,
.dataTable tbody tr:hover {
    background-color: %BackgroundColor%;
    color: %ReverseTextColor% !important;
    cursor: pointer;
}

.dataTable label {
    font-size: 1em !important;
}

.dataTables_length {
    margin-left: 20px;
    padding: 10px 0;
    font-size: 1.4em;
}

.dataTables_filter {
    text-align: left !important;
    margin: 10px 20px 0 0;
    display: inline-flex;
}

.dataTables_filter button {
    font-size: 0.5em !important;
    padding: 0;
    margin-left: 2px;
}

.dataTables_wrapper {
    width: 100%;
    background-color: %ButtonBackgroundColor%;
}

.dataTables_wrapper .ui-toolbar {
    padding: 0px !important;
    font-size: 0.8em;
}

.dataTables_wrapper select {
    padding: 2px 0px;
    cursor: pointer;
    margin: 0;
}

.dataTables_wrapper select>option {
    padding: 2px 5px !important;
}

.dataTables_wrapper .dataTables_filter {
    text-align: left !important;
    font-size: 2.2em !important;
    padding-bottom: 0.3em;
}

.dataTables_wrapper .dataTables_filter .ClassInput {
    font-size: 0.4em;
    padding: 4px 20px 2px;
}

.dataTables_wrapper .dataTables_filter input {
    margin: 0 !important;
    border: 0px !important;
    width: 100%;
    font-size: 1em;
    padding: 0 10px 0 0 !important;
    margin-left: 3px !important;
}

.dataTables_wrapper .dataTables_length label {
    padding: 0px 5px !important;
}

.dataTables_wrapper .dataTables_length select {
    border: 0px solid %BorderColor% !important;
    border-radius: 0 !important;
    padding: 1px !important;
    background-color: #fff !important;
}

.dataTables_info {
    margin: 10px !important;
    font-size: 1em;
    border: 1px solid %ButtonBackgroundColor%;
    padding: 3px 5px !important;
    background-color: #fff;
}

.dataTables_paginate {
    padding: 10px 10px !important;
}

.dataTables_paginate a {
    font-size: 1em;
}

.dataTables_wrapper .dataTables_paginate .fg-button {
    border-radius: 0 !important;
    padding: 0.2em 0.5em !important;
}

.fg-toolbar.ui-toolbar.ui-widget-header {
    background-color: %ButtonBackgroundColor%;
}

.dataTables_scrollBody thead {
    display: none;
}

/* Datepicker */
.datepicker div {
    font-size: 1em;
}

.datepicker.active {
    z-index: 2000000 !important;
}

.datepicker--time-current span {
    font-family: '%Font%';
}

.datepicker--cell {
    height: 24px !important;
}

.datepicker--cell.-selected-,
.datepicker--cell.-selected-.-current- {
    color: %ReverseTextColor%;
    background: %BackgroundColor%;
}

.datepicker--day-name,
.datepicker--cell-day {
    font-size: 0.8em !important;
}

.datepicker--cells-years,
.datepicker--years,
.datepicker--cells-months {
    height: 120px !important;
}

.datepicker--cell.datepicker--cell-day.-disabled- {
    background-color: %AltBackgroundColor%;
}

/* Pour masquer le navigateur de date et selecteur de jour si data-timepickeronly */
.data-timepickeronly .datepicker--nav,
.data-timepickeronly .datepicker--days {
    display: none !important;
}

.datepicker-note {
    position: absolute;
    background: #6f5de2;
    width: 15px;
    height: 4px;
    border-radius: 0;
    left: 50%;
    bottom: 0px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

/* Loader CSS pour un objet */
.ClassSpinLoader {
    border: 8px solid #ffffff9c;
    border-radius: 50%;
    border-top: 8px solid #3333339c;
    width: 25px;
    height: 25px;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
    -webkit-animation: SpinLoader 2s linear infinite;
    animation: SpinLoader 2s linear infinite;
    position: absolute;
    /* Parent position must be set ! */
}

@keyframes SpinLoader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Safari */
@-webkit-keyframes SpinLoader {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

.ClassSpinLoaderModal {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    background-color: #aaaaaa;
}

/* Fin Loader CSS */

/* Faire clignoter un objet */

.ClassBlink {
    animation: blinker 1s linear infinite;
    -webkit-animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

@-webkit-keyframes blinker {
    50% {
        opacity: 0;
    }
}

/* Browser */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #d5d5d5;
    border: 31px none %BackgroundColorAlt%;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
    background: %BackgroundColor%;
    cursor: pointer !important;
}

::-webkit-scrollbar-thumb:active {
    background: %BackgroundColor%;
}

::-webkit-scrollbar-track {
    background: #f0f0f0;
    border: 1px solid %BackgroundColorAlt%;
    border-radius: 0px;
}

::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active {
    background: #f0f0f0;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: %BackgroundColor% #f0f0f0;
}

/* Merdes Microsoft .. */
* {
    outline-style: none;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px %BackgroundColorAlt% inset !important;
}

/* Responsive */
@media screen and (max-width: 1200px) {

    html,
    body,
    page {
        font-size: 14px;
    }

    header {
        font-size: 1.2em;
        line-height: 1.2em;
        height: 40px;
    }

    page-content {
        top: 40px;
    }

    #IDsidemenu,
    #IDusermenu {
        top: 40px;
    }

    .ClassThumbnailList {
        font-size: 1em;
    }

    .ClassThumbnail i {
        font-size: 11em !important;
    }

    .ClassThumbnailLabel {
        font-size: 1.1em;
    }
}

@media screen and (max-width: 600px) {

    html,
    body,
    page {
        font-size: 13px;
    }

    .ClassAlert,
    .ClassConfirm {
        width: 300px;
        font-size: 1em;
    }

    #IDprompt {
        width: 150px;
    }

    #IDheaderapptitle,
    #IDheadermaintitle,
    #IDheaderusername {
        display: none;
    }
}