<div class="ClassCell" id="cellpanelcalendarbasic" style="width: 49%; margin: 5px; position: absolute; top: 10px; left: 10px">
    <div class="ClassPanel" id="panelcalendarbasic" data-resize="true" data-move="true" data-magnify="true" data-icon="fa-calendar" title="Basic Calendar">
        <span><l>Basic day calendar</l></span>
    </div>
    <div class="ClassCalendar" id="calendarbasic" data-default-view="basicDay">
    </div>
</div>

<div class="ClassCell" id="cellpanelcalendarlist" style="width: 47%;  margin: 5px; position: absolute; top: 10px; left: 51%">
    <div class="ClassPanel" id="panelcalendarlist" data-resize="true" data-move="true" data-magnify="true" data-icon="fa-tasks" title="Tasks">
        <span><l>Tasks list</l></span>
    </div>
    <div class="ClassCalendar" id="calendarlist" data-default-view="listMonth">
    </div>
</div>

<div class="ClassCell" id="cellpanelenhancedcalendar" style="width: 28%; margin: 5px; position: absolute; top: 320px; left: 10px">
    <div class="ClassPanel" id="panelenhancedcalendar" data-move="true" data-icon="fa-tasks" title="Calendar">
        <span><l>Enhanced calendar</l></span>
    </div>
    <div class="ClassCell" style="padding: 20px; text-align: justify">
        <div class="ClassRow">
            <div class="ClassCell">
                <i class="fa fa-lightbulb-o" style="font-size: 50px; float: left; padding: 10px 20px;"></i>
                <p style="text-align: justify !important">
                     <l>This is a powerful planning system with predefined events and resources management.<br>Click on a day to set an event, then move or edit it by clicking on it. A new event will also be set in the other calendar and tasks list.<br>You can also drag predefined custom events below and drop them on the calendar, then modify them after dropping.<br>You can even drag one or many resources and drop them on a event then finally drag and drop the event to manage at the same time people and material planning.</l>
                </p>
            </div>
        </div>
        <div class="ClassRow">
            <div class="ClassCellMargin" style="width: 46%">
                <p><l>Resources</l></p>
                <div class="ClassCalResource" data-resource-id="Luke"><img src="images/him.png"></div>
                <div class="ClassCalResource" data-resource-id="Sue"><img src="images/her.png"></div>
                <div class="ClassCalResource" data-resource-id="Moto"><img src="images/moto.png"></div>
                <div class="ClassCalResource" data-resource-id="PC"><img src="images/laptop.png"></div>
                <div class="ClassCell" style="padding: 10px;">
                    <label for="afterdrop">
                        Unique resource
                    </label>
                    <div class="ClassInput ClassInputNoBorder ClassInputSingle">
                        <input class="ClassFlipSwitch" type="checkbox" id="IDUniqueResource" value="0">
                    </div>
                </div>                
            </div>            
            <div class="ClassCellMargin" style="width: 46%">
                <p><l>Events</l></p>
                <div class="ClassCalEvent" style="background: yellow" data-event-type="A" data-event-duration="01:00"><l>Meeting</l></div>
                <div class="ClassCalEvent" style="background: green; color: white" data-event-type="B" data-event-duration="00:15"><l>Take a breath</l></div>
                <div class="ClassCalEvent" style="background: #a7a7ff; color: white" data-event-type="C" data-event-duration="02:00"><l>Customer survey</l></div>
                <div class="ClassCalEvent" style="background: #bdbdbd; color: white" data-event-type="D" data-event-duration="01:30"><l>Accounting</l></div>
                <div class="ClassCalEvent" style="background: #6f6f6f; color: white" data-event-type="E" data-event-duration="03:00"><l>Dinner</l></div>
                <div class="ClassCell" style="padding: 10px;">
                    <label for="afterdrop">
                        Unique event
                    </label>
                    <div class="ClassInput ClassInputNoBorder ClassInputSingle">
                        <input class="ClassFlipSwitch" type="checkbox" id="IDUniqueEvent" value="0">
                    </div>
                </div>
            </div>
        </div>
        <div class="ClassRow">
            <div class="ClassCell ClassCenter">
                <input type="submit" value="Reset" id="IDReset">
            </div>
        </div>
    </div>
</div>        

<div class="ClassCell" id="cellpanelagenda" style="width: 68%;  margin: 5px; position: absolute; top: 320px; left: 30%">
    <div class="ClassPanel" id="panelagenda" data-move="true" data-magnify="true" data-icon="fa-calendar" title="Agenda">
        <span>Agenda</span>
    </div>
    <div class="ClassCalendar" id="calendaragenda" data-default-view="agendaWeek">
    </div>
</div>