<div class="ClassRow ClassSortable" id="mainrow">
    <div class="ClassCellMargin" style="width:50%">
        <div class="ClassCellMargin ClassSort" id="panelform">
            <div class="ClassPanel" title="Form">
                <l>Forms/Buttons/Input/Date</l>
            </div>
            <div class="ClassCell" style="padding: 10px;">
                <div class="ClassToolBar">
                    <button id="button1" data--Test="click icon button">
                        <i class="fa fa-plus-square-o">
                        </i>
                        <l>Icon button</l>
                    </button>
                    <input type="submit" value="Input button" id="submitbutton" data--Test="click input button">
                    <a href="#" id="anchorbutton" type="button" data--Test="click anchor button">
                        <l>Anchor button</l>
                    </a>
                </div>

                <div class="ClassEmpty">
                </div>

                <form id="myform">
                    <div class="ClassRow">
                        <div class="ClassCell ClassCellMarginX" style="width:25%">
                            <label for="standardinput">
                                Standard input
                            </label>
                            <div class="ClassInput">
                                <input id="standardinput" autofocus>
                            </div>
                        </div>
                        <div class="ClassCell ClassCellMarginX" style="width:25%">
                            <label for="standardinputicon">
                                Standard input with icon
                            </label>
                            <div class="ClassInput" data-icon="fa-edit">
                                <input id="standardinputicon">
                            </div>
                        </div>
                        <div class="ClassCell ClassCellMarginX" style="width:25%">
                            <label for="autoclear">
                                Autoclear input
                            </label>
                            <div class="ClassInput" data-clear='true'>
                                <input id="autoclear">
                            </div>
                        </div>
                        <div class="ClassCell ClassCellMarginX" style="width:25%">
                            <label for="tags">
                                Autocomplete - Begin to enter
                            </label>
                            <div class="ClassInput" data-clear='true' data-icon="fa-edit">
                                <input class="ClassAutoComplete" id="tags">
                            </div>
                        </div>
                    </div>
                    <div class="ClassRow">
                        <div class="ClassCell ClassCellMarginX" style="width:40%">
                            <label for="digits">
                                Digits mask input - 1 to 5 digits here
                            </label>
                            <div class="ClassInput" data-clear='true'>
                                <input id="digits" data-mask="[0-9]{1,5}">
                            </div>
                        </div>
                        <div class="ClassCell ClassCellMarginX" style="width:60%">
                            <label for="letters">
                                 Letters mask input - 30 letters maxi beginning with uppercase
                            </label>
                            <div class="ClassInput" data-clear='false'>
                                <input id="letters" data-mask="[A-Z][a-z]{1,30}">
                            </div>
                        </div>
                    </div>
                    <div class="ClassRow">
                        <div class="ClassCell ClassCellMarginX" style="width:33%">
                            <label for="date">
                                Date selector
                            </label>
                            <div class="ClassInput" data-clear='false'>
                                <input class="ClassDatePicker" id="date" data-multiple-dates="true" data-clear-button="true">
                            </div>
                        </div>
                        <div class="ClassCell ClassCellMarginX" style="width:33%">
                            <label for="date">
                                Time selector
                            </label>
                            <div class="ClassInput" data-clear='false'>
                                <input class="ClassDatePicker" id="time" data-multiple-dates="false" data-timepickeronly="true" data-clear-button="true">
                            </div>
                        </div>
                        <div class="ClassCell ClassCellMarginX" style="width:34%">
                            <label for="date">
                                Date and Time selector
                            </label>
                            <div class="ClassInput" data-clear='false'>
                                <input class="ClassDatePicker" id="datetime" datepicker="true" data-timepicker="true" data-clear-button="true" data-selected="today">
                            </div>
                        </div>
                    </div>

                    <div class="ClassRow">
                        <div class="ClassCell ClassCellMarginX" style="width:33%">
                            <label for="speedform">
                                Select a value
                            </label>
                            <select class="ClassSelect" name="speedform" id="speedform" style="width:80%">
                                <option>
                                    Slow
                                </option>
                                <option selected="selected">
                                    Medium
                                </option>
                                <option>
                                    Fast
                                </option>
                            </select>
                        </div>
                        <div class="ClassCell ClassCellMarginX" style="width:33%">
                            <label for="description">
                                2 lines textarea with clear
                            </label>
                            <div class="ClassInput" data-clear='true'>
                                <textarea id="description" maxlength="200" rows="2"></textarea>
                            </div>
                        </div>
                        <div class="ClassCell ClassCellMarginX" style="width:34%">
                            <label for="description1">
                                2 lines textarea with clear and icon
                            </label>
                            <div class="ClassInput" data-clear='true' data-icon="fa-edit">
                                <textarea id="description1" maxlength="200" rows="2" placeholder="*"></textarea>
                            </div>
                        </div>
                    </div>

                </form>

                <div class="ClassRow">
                    <div class="ClassCell ClassCenter">
                        <button class="ui-button ui-widget ui-corner-all" id="buttonform">
                            <i class="fa fa-pencil-square-o">
                            </i>
                            <l>
                                Click to popup form
                            </l>
                        </button>
                        <br><br>
                        <l>If you just need a popup form, describe it and set it as not displayed</l>
                    </div>
                </div>
            </div>
        </div>
        <div class="ClassCellMargin ClassSort" id="panelaccordion">
            <div class="ClassPanel" title="Accordion">
                <l>Accordion</l>
            </div>
            <div class="ClassCell">
                <div id="accordion">
                    <h3>
                        <l>
                            Section
                        </l> 1
                    </h3>
                    <div>
                        <p>
                            Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut odio. Curabitur malesuada. Vestibulum
                            a velit eu ante scelerisque vulputate.
                        </p>
                    </div>
                    <h3>
                        <l>
                            Section
                        </l> 2
                    </h3>
                    <div>
                        <p>
                            Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In suscipit faucibus urna.
                        </p>
                    </div>
                    <h3>
                        <l>
                            Section
                        </l> 3
                    </h3>
                    <div>
                        <p>
                            Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis. Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis lacinia ornare, quam ante aliquam
                            nisi, eu iaculis leo purus venenatis dui.
                        </p>
                        <ul>
                            <li>
                                List item one
                            </li>
                            <li>
                                List item two
                            </li>
                            <li>
                                List item three
                            </li>
                        </ul>
                    </div>
                    <div data-clone="2" data-clonestart="6" data-clonestep="10" data-cloneself="false">
                        <h3>
                            <l>
                                Cloned section
                            </l> %%
                        </h3>
                        <div>
                            <p>
                                <l>This section</l> %%
                                <l>has been automatically cloned with data-clone feature.</l>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ClassCellMargin ClassSort" id="panelflip">
            <div class="ClassPanel" data-icon="fa-flag" data-icontitle="FlipSwitch" title="FlipSwitch">
                <l>Flip Switch</l>
            </div>
            <div class="ClassCell" style="padding: 10px;">
                <label for="flipswitch">
                    Switch
                </label>
                <input class="ClassFlipSwitch" type="checkbox" id="flipswitch" value="1">
            </div>
        </div>
        <div class="ClassCellMargin ClassSort" id="panelmodal">
            <div class="ClassPanel" title="Modal">
                <l>Modal</l>
            </div>
            <div class="ClassCell" style="padding: 10px">
                <div id="modalalert" style="cursor:pointer">
                    <l>Alert modal</l>
                </div>
                <div id="modalconfirm" style="cursor:pointer">
                    <l>Confirm modal</l>
                </div>
                <div id="modalprompt" style="cursor:pointer">
                    <l>Prompt modal</l>
                </div>
            </div>
        </div>
        <div class="ClassCellMargin ClassSort" id="panelradio">
            <div class="ClassPanel" data-icon="fa-check-square" data-icontitle="Radio/Checkbox" title="Radio/Checkbox">
                <div class="ClassPanelIconsLeft">
                    <i class="fa fa-check-square"></i>
                </div>
                <l>Radio/Checkbox</l>
            </div>
            <div class="ClassCell" style="padding: 10px;">
                <div class="radio">
                    <div class="ClassTitle ClassCenter">
                        Radio Group
                    </div>
                    <fieldset>
                        <legend>
                            Select a location
                        </legend>
                        <label for="radio-1">
                            New York
                        </label>
                        <input class="ClassCheckbox" type="radio" name="radio-1" id="radio-1">
                        <label for="radio-2">
                            Paris
                        </label>
                        <input class="ClassCheckbox" type="radio" name="radio-1" id="radio-2">
                        <label for="radio-3">
                            London
                        </label>
                        <input class="ClassCheckbox" type="radio" name="radio-1" id="radio-3">
                    </fieldset>
                    <div class="ClassTitle ClassCenter">
                        Checkbox
                    </div>
                    <fieldset>
                        <legend>
                            Hotel Ratings
                        </legend>
                        <label for="checkbox-1">
                            2 stars
                        </label>
                        <input class="ClassCheckbox" type="checkbox" name="checkbox-1" id="checkbox-1">
                        <label for="checkbox-2">
                            3 stars
                        </label>
                        <input class="ClassCheckbox" type="checkbox" name="checkbox-2" id="checkbox-2">
                        <label for="checkbox-3">
                            4 stars
                        </label>
                        <input class="ClassCheckbox" type="checkbox" name="checkbox-3" id="checkbox-3">
                        <label for="checkbox-4">
                            5 stars
                        </label>
                        <input class="ClassCheckbox" type="checkbox" name="checkbox-4" id="checkbox-4">
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="ClassCellMargin ClassSort" id="panelprogressbar">
            <div class="ClassPanel" title="Progressbar Icon">
                <div class="ClassPanelIconsLeft">
                    <i class="fa fa-envelope"></i>
                </div>
                <l>Progressbar</l>
            </div>
            <div class="ClassCell" style="padding: 10px;">
                <label for="progressbar">
                    Progressbar
                </label>
                <div id="progressbar">
                </div>
            </div>
        </div>
        <div class="ClassCellMargin ClassSort" id="panelspinner">
            <div class="ClassPanel" data-resize="true" title="Spinner" data-nextdivoverflow="true">
                Spinner
            </div>
            <div class="ClassCell" style="overflow: auto">
                <div class="ClassRowThin">
                    <div class="ClassCell" style="padding: 10px; width: 48%">
                        <label for="spinner">Select a value</label>
                        <input class="ClassSpinner" id="spinner" name="value" value="5">
                    </div>
                    <div class="ClassCell ClassEmpty" style="width: 2%"></div>
                    <div class="ClassCell" style="padding: 10px; width: 48%">
                        <button id="disable" style="margin: 2px 0">
                    <l>Toggle disable/enable</l>
                </button>
                        <button id="destroy" style="margin: 2px 0">
                    <l>Toggle widget</l>
                </button>

                        <button id="getvalue" style="margin: 2px 0">
                    <l>Get value</l>
                </button>
                        <button id="setvalue" style="margin: 2px 0">
                    <l>Set value to 5</l>
                </button>
                    </div>
                </div>
                <div class="ClassRowThin">
                    <div class="ClassCell" style="padding: 10px">
                        <l>Note that this panel is resizable !</l>
                    </div>
                </div>
            </div>
        </div>
        <div class="ClassCellMargin ClassSort" id="paneltrees">
            <div class="ClassPanel" title="Tree">
                Trees
            </div>
            <div class="ClassCell" style="padding: 10px">
                <div class="ClassTree" id="jstree1">
                    <ul>
                        <li id="root_node_1">Root node 1
                            <ul>
                                <li id="child_node_1">Child node 1</li>
                                <li id="child_node_2">Child node 2</li>
                            </ul>
                        </li>
                        <li id="root_node_2">Root node 2</li>
                    </ul>
                </div>
                <div class="ClassCell" style="padding: 10px">
                    <div class="ClassTree" id="jstree2">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ClassCellMargin" style="width:50%">
        <div class="ClassCellMargin ClassSort" id="paneldropzone" style="height: 250px">
            <div class="ClassPanel" data-icon="fa-file" data-icontitle="Dropzone Files Thumbnails" title="Dropzone Files Thumbnails">
                <div class="ClassPanelIconsLeft">
                    <i class="fa fa-file">
                    </i>
                </div>
                <l>Dropzone Files Thumbnails</l>
                <div class="ClassPanelIconsRight">
                    <i id="IDCogDropzone" class="fa fa-cog" style="cursor: pointer">
                        <ul class="ClassMenu" style="width: 180px">
                            <li id="c1" onclick="CYAlert('Anything can be done there..');"><i class="fa fa-refresh"></i>Option 1</li>
                    <li id="c2" onclick="CYAlert('Anything can be done there..');"><i class="fa fa-spinner"></i>Option 2</li>
                    <li id="c3" onclick="CYAlert('Anything can be done there..');"><i class="fa fa-check-square-o"></i>Option 3</li>
                    </ul>
                    </i>
                </div>
            </div>
            <div class="ClassCell" style="height: calc(100% - 40px)">
                <div class="ClassCell" style="height: 55px; overflow: auto">
                    <div class="ClassCell ClassBorder" style="height: 100%; padding: 10px">
                        <div style="float: left; font-size: 2em">
                            <l>FILES</l>
                        </div>
                    </div>
                </div>
                <div class="ClassCell" style="height: calc(100% - 55px);">
                    <div class="ClassCell" style="overflow: auto; height: 100%">
                        <div title="DRAG HERE" class="dropzone ClassDropZone" id="IDdropzone" action="bidon">
                        </div>
                        <ul class="ClassThumbnailList" id="IDFileList"></ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="ClassCellMargin ClassSort" id="paneleditor">
            <div class="ClassPanel" data-icon="fa-edit" data-resize="true" data-icontitle="Text Editor" title="Text Editor">
                <div class="ClassPanelIconsLeft">
                    <i class="fa fa-edit"></i>
                </div>
                <l>Text Editor</l>
                <div class="ClassPanelIconsRight">
                    <i id="IDSaveText" class="fa fa-save" style="cursor: pointer" title="SAVE"></i>
                </div>
            </div>
            <div class="ClassCell">
                <textarea id="IDEditor" class="ClassEditor">My text ..</textarea>
            </div>
        </div>
        <div class="ClassCellMargin ClassSort" id="panelpdf">
            <div class="ClassPanel" data-icon="fa-file-pdf-o" data-resize="true" data-icontitle="PDF viewer" title="PDF viewer">
                <div class="ClassPanelIconsLeft">
                    <i class="fa fa-file-pdf-o"></i>
                </div>
                <l>PDF viewer</l>
            </div>
            <div class="ClassCell" id="IDpdfviewer" style="height: 300px">
            </div>
        </div>
        <div class="ClassCellMargin ClassSort" id="panelsliders">
            <div class="ClassPanel" title="Sliders">
                Sliders
            </div>
            <div class="ClassCell" style="padding: 10px;">
                <p>
                    <l>Here the data-clone feature has be used to automatically set the 8 bands.</l>
                </p>
                <label for="slider">
                    Slider
                </label>
                <div id="slider">
                </div>
                <label for="total">
                    Total:
                </label>
                <input type="text" id="total" readonly>
                <label for="slider-range">
                    Slider range
                </label>
                <div id="slider-range">
                </div>
                <label for="amount">
                    Selected range :
                </label>
                <input type="text" id="amount" readonly>
                <label for="eq">
                    Equalizer
                </label>
                <div id="eq">
                    <span id="eq%%" data-clonestart="1" data-clone="8" data-cloneself="true">
                        50
                    </span>
                </div>
                <input type="text" id="amounteq" readonly>
            </div>
        </div>
        <div class="ClassCellMargin ClassSort" id="panelmenu">
            <div class="ClassPanel" title="Menu">
                Menu
            </div>
            <div>
                <ul id="menu">
                    <li class="ui-widget-header">
                        <div>
                            <l>Category 1</l>
                        </div>
                    </li>
                    <li id="A">
                        <div>
                            <l>Option 1</l>
                        </div>
                    </li>
                    <li id="B">
                        <div>
                            <l>Option 2</l>
                        </div>
                    </li>
                    <li id="C">
                        <div>
                            <l>Option 3</l>
                        </div>
                    </li>
                    <li class="ui-widget-header">
                        <div>
                            <l>Category 2</l>
                        </div>
                    </li>
                    <li id="D">
                        <div>
                            <l>Option 4</l>
                        </div>
                    </li>
                    <li id="E">
                        <div>
                            <l>Option 5</l>
                        </div>
                    </li>
                    <li id="F">
                        <div>
                            <l>Option 6</l>
                        </div>
                        <ul>
                            <li id="G">
                                <div>
                                    <l>Option 7</l>
                                </div>
                            </li>
                            <li id="H">
                                <div>
                                    <l>Option 8</l>
                                </div>
                            </li>
                            <li id="I">
                                <div>
                                    <l>Option 9</l>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="ClassCellMargin ClassSort" id="panelselect">
            <div class="ClassPanel" data-icon="fa-exclamation-circle" data-icontitle="Select" title="Select">
                <l>Select options</l>
            </div>
            <div class="ClassRow" style="padding: 10px;">
                <div class="ClassCell">
                    <label for="speed">Select a value</label>
                    <div class="ClassCell">
                        <select class="ClassSelect" name="speed" id="speed">
                        <option>
                            Slow
                        </option>
                        <option selected="selected">
                            Medium
                        </option>
                        <option>
                            Fast
                        </option>
                    </select>
                    </div>
                </div>
            </div>
            <div class="ClassRow" style="padding: 10px;">
                <div class="ClassCell">
                    <label for="files">Select a file</label>
                    <div class="ClassCell">
                        <select class="ClassSelect" name="files" id="files">
                        <optgroup label="Scripts">
                            <option value="jquery">
                                jQuery.js
                            </option>
                            <option value="jqueryui">
                                ui.jQuery.js
                            </option>
                        </optgroup>
                        <optgroup label="Other files">
                            <option value="somefile">
                                Other file
                            </option>
                            <option value="someotherfile">
                                Other file1
                            </option>
                        </optgroup>
                    </select>
                    </div>
                </div>
            </div>
            <div class="ClassRow" style="padding: 10px;">
                <div class="ClassCell">
                    <label for="salutation">Select a title</label>
                    <div class="ClassCell">
                        <select class="ClassSelect" name="salutation" id="salutation">
                        <option disabled selected>
                            Please pick one
                        </option>
                        <option>
                            Mr.
                        </option>
                        <option>
                            Mrs.
                        </option>
                        <option>
                            Dr.
                        </option>
                        <option>
                            Prof.
                        </option>
                        <option>
                            Other
                        </option>
                    </select>
                    </div>
                </div>
            </div>
            <div class="ClassRow" style="padding: 10px;">
                <div class="ClassCell" style="width: 50%">
                    <div class="ClassRow">
                        <div class="ClassCell">
                            <label for="selectable">Multiselect</span></label>
                            <ol class="ClassBorder ClassPositionRelative" id="selectable" name="selectable" style="width: 25%" date-position>
                                <li class="ui-widget-content" id="id1">Peugeot</li>
                                <li class="ui-widget-content" id="id2">Citroen</li>
                                <li class="ui-widget-content" id="id3">Renault</li>
                                <li class="ui-widget-content" id="id4">Simca</li>
                                <li class="ui-widget-content" id="id5">Bugatti</li>
                                <li class="ui-widget-content" id="id6">Ligier</li>
                            </ol>
                        </div>
                    </div>
                    <div class="ClassRow">
                        <div class="ClassCell ClassPadding">
                            <input type="submit" value="OK" id="buttonSelectable">
                        </div>
                    </div>
                </div>
                <div class="ClassCell" style="width: 45%">
                    <div class="ClassCell" id="select-result" style="padding: 10px; height: 20px">Result here : </div>
                </div>
            </div>
        </div>
        <div class="ClassCellMargin ClassSort" id="paneltabs" style="height: 210px">
            <div class="ClassPanel" title="Tabs" data-nextdivoverflow="true">
                <l>Tabs</l>
            </div>
            <div class="ClassCell">
                <div class="ClassTab" id="tabs" style="border: 0">
                    <ul class="ClassStatic">
                        <li>
                            <a href="#tabs-1">
                                Nunc tincidunt
                            </a>
                        </li>
                        <li>
                            <a href="#tabs-2">
                                Proin dolor
                            </a>
                        </li>
                        <li>
                            <a href="#tabs-3">
                                Aenean lacinia
                            </a>
                        </li>
                    </ul>
                    <div class="ClassCell" style="padding: 10px" id="tabs-1">
                        <p>
                            Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper
                            leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales tortor vitae ipsum. Aliquam nulla. Duis aliquam molestie erat. Ut et mauris vel pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum.
                            Phasellus ipsum. Nunc tristique tempus lectus.
                        </p>
                    </div>
                    <div class="ClassCell" style="padding: 10px" id="tabs-2">
                        <p>
                            Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean
                            aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam
                            erat volutpat. Pellentesque convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.
                        </p>
                    </div>
                    <div class="ClassCell" style="padding: 10px" id="tabs-3">
                        <p>
                            Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
                            per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="ClassCellMargin ClassSort" id="paneltooltip">
            <div class="ClassPanel" title="Tooltip">
                Tooltip
            </div>
            <div class="ClassCell" style="padding: 10px; overflow: auto; height: calc(100%) - 35px">
                <p title="Tooltip">
                    <l>Tooltips can be attached to any element. When you hover the element with your mouse, the title attribute is displayed in a little box next to the element, just like a native tooltip.</l>
                </p>
            </div>
        </div>
    </div>
</div>
