<div class="ClassRow">
    <div class="ClassCell" style="float: left; width: auto">
        <i class="fa fa-lightbulb-o" style="font-size: 50px; float: left; padding: 10px 20px;"></i>
    </div>
    <div class="ClassCell" style="padding: 20px; float: left">
        <p style="text-align: justify !important">
                <l>This is a performing resources planning with many display modes.<br>Events can be affected to users or the a whole team or directly input on a schedule. A unique event can only be affected once.</l>
        </p>
    </div>
</div>

<div class="ClassRow">
    <div class="ClassCellMargin">
        <p><l>Events</l></p>
        <div class="ClassCalEventP" style="background: yellow" data-event-type="A" data-event-duration="01:00"><l>Meeting</l></div>
        <div class="ClassCalEventP" style="background: green; color: white" data-event-type="B" data-event-duration="00:15"><l>Take a breath</l></div>
        <div class="ClassCalEventP" style="background: #a7a7ff; color: white" data-event-type="C" data-event-duration="02:00"><l>Customer survey</l></div>
        <div class="ClassCalEventP" style="background: #bdbdbd; color: white" data-event-type="D" data-event-duration="01:30"><l>Accounting</l></div>
        <div class="ClassCalEventP" style="background: #6f6f6f; color: white" data-event-type="E" data-event-duration="03:00"><l>Dinner</l></div>
    </div>
</div>
<div class="ClassRow">
    <div class="ClassCellMargin">        
        <div class="ClassCell">
            <label for="afterdrop">
                Unique event
            </label>
            <div class="ClassInput ClassInputNoBorder ClassInputSingle">
                <input class="ClassFlipSwitch" type="checkbox" id="IDUniqueEvent" value="0">
            </div>
        </div>
    </div>
</div>

<div class="ClassRow">         
    <div class="ClassCalendar" id="planning">
    </div>
</div>

