<div class="ClassRow ClassSortable">
    <div class="ClassCellMargin" style="width:50%">
        <div class="ClassCellMargin ClassSort">
            <div class="ClassPanel">
                <span><l>CRM Demo</l></span>
            </div>
            <div class="ClassCell" style="padding: 20px; text-align: justify">
                <i class="fa fa-lightbulb-o" style="font-size: 50px; float: left; padding: 10px 20px;"></i>
                <span>
                    <p><l>CRM demo page</l>
                    <i class="fa fa-smile-o" style="color: #2244ff; filter: invert(1);"></i></p>
                    <p><l>CRM demo page description</l></p>
                </span>
            </div>
            <div class="ClassRowThin">
                <div class="ClassCellMargin">
                    <p>
                        <l>Events</l>
                    </p>
                    <div class="ClassCalEventP" style="background: yellow" data-event-type="A" data-event-duration="01:00">
                        <l>Meeting</l>
                    </div>
                    <div class="ClassCalEventP" style="background: green; color: white" data-event-type="B" data-event-duration="00:15">
                        <l>Take a breath</l>
                    </div>
                    <div class="ClassCalEventP" style="background: #a7a7ff; color: white" data-event-type="C" data-event-duration="02:00">
                        <l>Customer survey</l>
                    </div>
                    <div class="ClassCalEventP" style="background: #bdbdbd; color: white" data-event-type="D" data-event-duration="01:30">
                        <l>Accounting</l>
                    </div>
                    <div class="ClassCalEventP" style="background: #6f6f6f; color: white" data-event-type="E" data-event-duration="03:00">
                        <l>Dinner</l>
                    </div>
                </div>
            </div>
            <div class="ClassRowThin">
                <div class="ClassCellMargin">
                    <div class="ClassCell">
                        <label for="afterdrop">Unique event</label>
                        <div class="ClassInput ClassInputNoBorder ClassInputSingle">
                            <input class="ClassFlipSwitch" type="checkbox" id="IDUniqueEvent" value="0">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ClassCellMargin ClassSort">
            <div class="ClassPanel" data-resize="false" title="Form">
                <l>Addressbook</l>
            </div>
            <div class="ClassTab" id="tabs">
                <ul>
                    <li>
                        <a href="#tabs-1">
                            <l>Companies</l>
                        </a>
                    </li>
                    <li>
                        <a href="#tabs-2">
                            <l>Contacts</l>
                        </a>
                    </li>
                </ul>
                <div class="ClassCell ClassBorder ClassNoMargin ClassNoPadding" id="tabs-1">
                    <div class="ClassDivTable">
                        <table class="ClassDataTable" id="IDcompanies" data-page-length='5' data-paging='true' data-searching='true' data-ordering='true' data-info='true' data-order='[[ 0, "asc" ]]'>
                            <thead>
                                <tr>
                                    <th>
                                        Company
                                    </th>
                                    <th>
                                        Phone
                                    </th>
                                    <th>
                                        Site
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>CYSTEME</td>
                                    <td>06 05 04 03 02</td>
                                    <td>cysteme.fr</td>
                                </tr>
                                <tr>
                                    <td>PLACE67</td>
                                    <td>02 03 04 05 06</td>
                                    <td>place67.com</td>
                                </tr>
                                <tr>
                                    <td>OMNICELL</td>
                                    <td>02 03 04 05 07</td>
                                    <td>omnicell.fr</td>
                                </tr>
                                <tr>
                                    <td>PROWIN</td>
                                    <td>02 03 04 05 08</td>
                                    <td>prowin.fr</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="ClassCell ClassBorder ClassNoMargin ClassNoPadding" id="tabs-2">
                    <div class="ClassDivTable">
                        <table class="ClassDataTable" id="IDcontacts" data-page-length='5' data-paging='true' data-searching='true' data-ordering='true' data-info='true' data-order='[[ 0, "asc" ]]'>
                            <thead>
                                <tr>
                                    <th>
                                        Contact
                                    </th>
                                    <th>
                                        Phone
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Luc</td>
                                    <td>09 08 07 06 05</td>
                                    <td>luc@cysteme.fr</td>
                                </tr>
                                <tr>
                                    <td>Bertrand</td>
                                    <td>09 07 08 06 05</td>
                                    <td>bertrand@omnicell.fr</td>
                                </tr>
                                <tr>
                                    <td>Christine</td>
                                    <td>09 06 07 08 05</td>
                                    <td>christine@prowin.fr</td>
                                </tr>
                                <tr>
                                    <td>Luke</td>
                                    <td>09 05 08 08 06</td>
                                    <td>luke@place67.fr</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="ClassCellMargin ClassSort" id="crmpaneldropzone" style="height: 370px">
            <div class="ClassPanel" data-icon="fa-file" title="Company documents">
                <div class="ClassPanelIconsLeft">
                    <i class="fa fa-file">
                    </i>
                </div>
                <l>Company documents</l>
            </div>
            <div class="ClassCell" style="overflow: auto; height: 333px">
                <div title="DRAG HERE" class="dropzone ClassDropZone" id="crmdropzone" action="bidon" data-max-filesize="10">
                </div>
                <div class="ClassThumbnailList" id="IDFileList"></div>
            </div>
        </div>
    </div>
    <div class="ClassCellMargin" style="width:50%">
        <div class="ClassCellMargin ClassSort">
            <div class="ClassPanel">
                <span><l>Tasks list</l></span>
            </div>
            <div class="ClassCalendar" id="crmlist" data-default-view="listDay">
            </div>
        </div>
        <div class="ClassCellMargin">
            <div class="ClassPanel">
                <span><l>Agenda</l></span>
            </div>
            <div class="ClassCalendar" id="crmagenda" data-default-view="agendaWeek">
            </div>
        </div>
    </div>
</div>