<div class="ClassCell ClassBorder" id="cellpanelportalinput" style="width: 98%; margin: 5px; position: absolute; top: 0px; left: 0px">
    <div class="ClassPanel" id="panelportal" data-move="true" data-resize="true" data-icon="fa-level-down" title="URL input">
		<div class="ClassPanelIconsLeft">
			<i class="fa fa-level-down">
			</i>
		</div>
        <span><l>URL input</l></span>
    </div>
	<div class="ClassCell">
		<div class="ClassRow" style="padding: 20px; text-align: justify">
			<div class="ClassCell">
				<p style="text-align: justify !important">
					 <l>Please input any URL to display its output below</l>
				</p>
			</div>
		</div>
		<div class="ClassRow">
			<div class="ClassCell" style="width:calc(98% - 150px); padding: 10px">
				<label for="standardinput">
					URL
				</label>
				<div class="ClassInput ClassInputFirst" data-clear="true">
					<input id="panelurlinput" autofocus placeholder="https://...">
				</div>
			</div>
			<div class="ClassCell" style="padding: 20px 0; width: 50px">
				<div class="ClassToolBar">
					<button id="panelurlok" style="margin: 2px">
						<l>OK</l>
					</button>
					<button id="panelurlclear" style="margin: 2px">
						<l>CLEAR</l>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="ClassCell ClassBorder" id="cellpanelportal" style="width: 98%; margin: 5px; position: absolute; top:320px; left: 0px; height: calc(98% - 205px)">
    <div class="ClassPanel" id="panelportal" data-move="true" data-magnify="true" data-resize="true" data-icon="fa-external-link" title="Portal">
		<div class="ClassPanelIconsLeft">
			<i class="fa fa-external-link">
			</i>
		</div>
        <span><l>Portal</l></span>
    </div>
    <div class="ClassCell">
		<div id="IDportalloader" style="display:none"></div>
		<iframe id="urlresult" style="width:100%; height:100%; border:none" frameborder="0" allowfullscreen>
		</iframe>
    </div>
</div>