<div class="ClassRowThin ClassSortable">
    <div class="ClassCell ClassSort" style="width:50%; margin: 5px">
        <div class="ClassPanel" title="Data table">
            <div class="ClassPanelIconsLeft">
                <i class="fa fa-table">
                </i>
            </div>
            <l>
                Table with search and sort enabled
            </l>
        </div>
        <div class="ClassDivTable">
            <table class="ClassDataTable" id="IDtableusers1" data-page-length='5' data-paging='true' data-searching='true' data-ordering='true' data-info='true' data-order='[[ 0, "asc" ]]'>
                <thead>
                    <tr>
                        <th>Uname</th>
                        <th>Upassword</th>
                        <th>Urole</th>
                        <th>Uid</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Luke</td>
                        <td>password1</td>
                        <td>Admin</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Suwan</td>
                        <td>password2</td>
                        <td>User</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>Brice</td>
                        <td>password3</td>
                        <td>User</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>Kevin</td>
                        <td>password4</td>
                        <td>Enduser</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>Brigitte</td>
                        <td>password5</td>
                        <td>Client</td>
                        <td>7</td>
                    </tr>
                    <tr>
                        <td>Bertrand</td>
                        <td>password6</td>
                        <td>Client</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>Daniel</td>
                        <td>password8</td>
                        <td>Enduser</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>John</td>
                        <td>password7</td>
                        <td>Admin</td>
                        <td>8</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="ClassCell ClassSort" style="width:50%; margin: 5px">
        <div class="ClassPanel">
            <l>
                Table with columns searching
            </l>
        </div>
        <div class="ClassDivTable">
            <table class="ClassDataTable" id="IDtableusers2" data-page-length='5' data-paging='true' data-searching='true' data-ordering='true' data-info='true' data-order='[[ 0, "asc" ]]' data-selectauto='true'>
                <thead>
                    <tr>
                        <th>
                            name
                        </th>
                        <th data-select="false">
                            password
                        </th>
                        <th>
                            role
                        </th>
                        <th>
                            id
                        </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="ClassRow">
    <div class="ClassCell" style="margin: 5px">
        <div class="ClassPanel">
            <l>
                Table with column filter and columns select
            </l>
        </div>
        <div class="ClassDivTable">
            <table class="ClassDataTable" id="IDtableusers3" data-page-length='5' data-paging='true' data-searching='true' data-ordering='true' data-info='true' data-order='[[ 0, "asc" ]]' data-selectauto='false' data-selectcolumns='true'>
                <thead>
                    <tr>
                        <th data-filter="true">
                            Uname
                        </th>
                        <th>
                            Upassword
                        </th>
                        <th data-filter="true">
                            Urole
                        </th>
                        <th>
                            Uid
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Luke</td>
                        <td>password1</td>
                        <td>Admin</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Suwan</td>
                        <td>password2</td>
                        <td>User</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>Brice</td>
                        <td>password3</td>
                        <td>User</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>Kevin</td>
                        <td>password4</td>
                        <td>Enduser</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>Brigitte</td>
                        <td>password5</td>
                        <td>Client</td>
                        <td>7</td>
                    </tr>
                    <tr>
                        <td>Bertrand</td>
                        <td>password6</td>
                        <td>Client</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>Daniel</td>
                        <td>password8</td>
                        <td>Enduser</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>John</td>
                        <td>password7</td>
                        <td>Admin</td>
                        <td>8</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="ClassRow">
    <div class="ClassCell" style="margin: 5px">
        <div class="ClassPanel">
            <l>
                Table with dynamic data and direct double click editing
            </l>
            <div class="ClassPanelIconsRight">
                <i title="Excel export" id="IDexcel0" class="fa fa-file-excel-o" style="cursor: pointer; display: none"></i>
            </div>
        </div>
        <div class="ClassDivTable">
            <table class="ClassDataTable" id="IDtableusers4" data-page-length='5' data-paging='true' data-searching='true' data-ordering='true' data-info='true' data-order='[[ 0, "asc" ]]' data-selectauto='false' data-selectcolumns='true' title="Double-click on a cell to edit, <Esc> to cancel edit, <Return> to valid">
                <thead>
                    <tr>
                        <th data-filter="true">
                            user
                        </th>
                        <th>
                            password
                        </th>
                        <th>
                            id
                        </th>
                        <th>
                            groupid
                        </th>
                        <th>
                            comment
                        </th>
                        <th>
                            home
                        </th>
                        <th>
                            shell
                        </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="ClassRow">
    <div class="ClassCell" style="margin: 5px">
        <div class="ClassPanel">
            <l>
                Simple real live process table
            </l>
            <div class="ClassPanelIconsRight">
                <i title="Excel export" id="IDexcel1" class="fa fa-file-excel-o" style="cursor: pointer; display: none"></i>
            </div>
        </div>
        <div class="ClassDivTable">
            <table class="ClassDataTable" id="IDtableusers5" data-page-length='5' data-paging='true' data-searching='true' data-ordering='true' data-info='true' data-order='[[ 0, "asc" ]]' data-selectauto='true' data-selectcolumns='true'>
                <thead>
                    <tr>
                        <th data-filter="true">
                            user
                        </th>
                        <th data-select="false">
                            pid
                        </th>
                        <th>
                            cpu
                        </th>
                        <th>
                            mem
                        </th>
                        <th>
                            vsz
                        </th>
                        <th>
                            rss
                        </th>
                        <th>
                            tty
                        </th>
                        <th>
                            stat
                        </th>
                        <th>
                            start
                        </th>
                        <th>
                            time
                        </th>
                        <th>
                            command
                        </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>