<form class="ClassForm" id="IDdivlogin" title="PLEASE LOGIN" style="display:none">
    <div class="ClassRowThin">
        <div class="ClassCell" style="width: 88%">
            <img id="IMGfavicon" src="images/favicon.png" style="max-width: 150px">
        </div>
        <div class="ClassCell" style="width: 20%">
            <div class="ClassRowThin" style="padding-bottom: 5px" id="IDdivlangmenu">
                <div class="ClassCell">
                    <label for="IDlangmenu">LANGUAGE</label>
                    <img id="IDlangmenu">
                    <ul class="ClassMenu" id="C1">
                    </ul>
                </div>
            </div>
            <div class="ClassRowThin" style="padding-bottom: 5px" id="IDdivthememenu">
                <div class="ClassCell">
                    <label for="IDthememenu">THEME</label>
                    <div id="IDthememenu"></div>
                    <ul class="ClassMenu" id="C2">
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="ClassRow">
        <div class="ClassCell">
            <label for="IDusername">
                USERNAME
            </label>
            <div class="ClassInput" data-clear='true'>
                <input id="IDusername" value="luke" maxlength="40" type="text" autofocus>
            </div>
        </div>
    </div>
    <div class="ClassRow">
        <div class="ClassCell">
            <label for="IDuserpassword">
                PASSWORD
            </label>
            <div class="ClassInput" data-clear='true'>
                <input id="IDuserpassword" value="" maxlength="40" type="password">
            </div>
        </div>
    </div>
</form>