<div class="ClassRow ClassSortable">
    <div class="ClassCellMargin ClassBorder ClassSort" style="width: 50%">
        <div class="ClassPanel">
            <span>
                <l>
                    My first page panel
                </l>
            </span>
			<div class="ClassPanelIconsRight">
				<i id="IDCogForm" class="fa fa-cog" style="cursor: pointer">
					<ul class="ClassMenu" style="width:150px">
						<li id="c1"><i class="fa fa-refresh"></i>Option 1</li>
						<li id="c2"><i class="fa fa-spinner"></i>Option 2</li>
						<li id="c3"><i class="fa fa-check-square-o"></i>Option 3</li>
					</ul>
				</i>
			</div>
        </div>
        <div class="ClassCell" style="padding: 10px;">
            Inside panel
        </div>
    </div>
    <div class="ClassCellMargin ClassBorder ClassSort"  style="width: 50%" title="Help">
    	<div class="ClassPanel">
	        Un autre panel
        </div>
        <div class="ClassRow">
			<div class="ClassCellMargin">
				<span>
					<l>
					   Un autre panel
					</l>
				</span>
			</div>
        </div>
        <div class="ClassRow">
			<div class="ClassCellMargin">
				<div class="ClassToolBar">
					<button id="openmenubutton" title="Help">
						Click to open menu
					</button>
					<button  id="closemenubutton">
						Click to close menu
					</button>
				</div>
			</div>
        </div>
	</div>
</div>


