<div>
    <i class="fa fa-sliders"></i>
</div>
<div>
    <ul class="ClassMenuContent" id="IDrollmenu">
        <div data-clone="3" data-cloneself="false">
            <li data-action="save" data-num="%%">
                <div>
                    <i class="fa fa-save"></i>
                    <l>SAVE</l>&nbsp;<l>DESKTOP</l>&nbsp;%%
                </div>
            </li>
        </div>
        <div data-clone="3" data-cloneself="false">
            <li data-action="restore" data-num="%%">
                <div>
                    <i class="fa fa-undo"></i>
                    <l>RESTORE</l>&nbsp;<l>DESKTOP</l>&nbsp%%
                </div>
            </li>
        </div>
        <li data-action="reset">
            <div>
                <i class="fa fa-eraser"></i>
                <l>RESET</l>
            </div>
        </li>      
    </ul>
</div>

