<nav>
    <ul class="ClassMenuContent" id="IDsidemenucontent">
        <li page="cyjsui">
            <div>
                <i class="fa fa-cog"></i>
                <l>CYJS UI</l>
            </div>
        </li>
        <li page="cyjstables">
            <div>
                <i class="fa fa-table"></i>
                <l>CYJS Tables</l>
            </div>
        </li>
        <li page="cyjscalendar">
            <div>
                <i class="fa fa-calendar"></i>
                <l>CYJS Calendar</l>
            </div>
        </li>
        <li page="cyjscrm">
            <div>
                <i class="fa fa-address-card-o"></i>
                <l>CRM Demo</l>
            </div>
        </li>
        <li>
            <div>
                <i class="fa fa-th-list"></i>
                <l title="Submenu">Submenu</l>
            </div>
            <ul style="width: 250px; height: auto">
                <li page="cyjsportal">
                    <div>
                        <i class="fa fa-external-link"></i>
                        <l>CYJS Portal</l>
                    </div>
                </li>
                <li page="myfirstpage">
                    <div>
                        <i class="fa fa-file"></i>
                        <l>My first page</l>
                    </div>
                </li>
                <li link="https://cysteme.fr" data-newtab="true">
                    <div>
                        <i><img src="images/cysteme.png" style="width: 16px"></i>
                        <l>CYSTEME web site</l>
                    </div>
                </li>
                <li iframe="https://cloudfiles.fr">
                    <div>
                        <i><img src="images/favicon.png" style="width: 16px"></i>
                        <l>iframed CloudFiles web site</l>
                    </div>
                </li>
                <li>
                    <div>
                        <i class="fa fa-th-list"></i>
                        <l title="Submenu">Submenu</l>
                    </div>
                    <ul style="width: 200px; height: auto">
                        <li link="https://place67.com" data-newtab="true">
                            <div>
                                <i><img src="images/place67.png" style="width: 16px"></i>
                                <l>PL@CE67 site</l>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li page="cyjsplanning">
            <div>
                <i class="fa fa-tasks"></i>
                <l>CYJS Planning</l>
            </div>
        </li>
    </ul>
</nav>
<div id="IDmenuslider">
    <i class="fa fa-ellipsis-v"></i>
</div>
