<nav>
    <ul class="ClassMenuContent" id="IDusermenucontent">
        <li src="profil">
            <div>
                <i class="fa fa-wrench">
                </i>
                <l>
                    Profil
                </l>
            </div>
        </li>
        <li src="logoff">
            <div>
                <i class="fa fa-sign-out">
                </i>
                <l>
                    Deconnecter
                </l>
            </div>
        </li>
    </ul>
</nav>
<form class="ClassForm" id="IDformprofil" title="Profil" style="display:none">
    <div class="ClassRowThin">
        <div class="ClassCell">
            <label for="IDprofilusername">
                USERNAME
            </label>
            <div class="ClassInput">
                <input id="IDprofilusername" value="" maxlength="30" type="text" readonly style="opacity:0.5">
            </div>
        </div>
    </div>
    <div class="ClassRowThin">
        <div class="ClassCell">
            <label for="IDprofiluserpassword">
                PASSWORD
            </label>
            <div class="ClassInput" data-clear='1'>
                <input id="IDprofiluserpassword" value="" maxlength="30" type="password" autofocus>
            </div>
        </div>
    </div>
    <div class="ClassRowThin">
        <div class="ClassCell">
            <label for="IDprofiluserpassword">
                PASSWORD AGAIN
            </label>
            <div class="ClassInput" data-clear='1'>
                <input id="IDprofiluserpasswordagain" value="" maxlength="30" type="password">
            </div>
        </div>
    </div>
</form>